<style type="text.css">

.something{} 

#gor_main{
	overflow: auto;
	padding-bottom: 350px; /* this needs to be bigger than footer height*/
}

.col-xs-12.makercontainer{
	position: relative;
	width: 100%;
	height: auto;
	padding-left: 0;
	padding-right: 0;
}

.makercontaineroverlay{
	position: absolute;
	top: 50;
	left:0;
	//width: 100%;
	//height: 100%;
	padding-left: 0;
	padding-right: 0;
	//background-color: rgba(250,250,225,0.3);
	//background-image: url(/images/blurred.jpg);
	opacity: 0.7;
	z-index: 4;
}

.makerimage{
	width: 100%;
	height: 500px;
	z-index:3;
}

.maker_title{
	position: absolute;
	//max-width: 70% !important;
	//min-width:  70% !important;
	//margin-left: 15% !important;
	//margin-right: 15% !important;
	text-align: center;
	top: 150px;
	left: 0;
	right: 0;
	z-index: 5;
}

@media(max-width: 768px){
	.makertitle{
		top: 1%;
	}
}

.makertitleheadline, .makertitlebrand, .makertitlemaker{
	font-family:'Alfa Slab One';
	color: #fafae1;
}

.makertitleheadline{
	font-size: 40px;
}

.makertitlebrand{
	font-size: 80px;
}

.makertitlemaker{
	font-size: 40px;
}



.btn.maker{
	background-color: rgba(0,0,0,0);
	color: #fafae1;
	font-weight: bold;
	border-color: #fafae1;
	border-style: solid;
	border-width: 3px;
}

.col-sm-4.col-md-4.btnleft{
	text-align: right;
}

.col-sm-4.col-md-4.btnright{
	text-align: left;
}

.btnleft, .btnright, .btncenter{
	vertical-align: middle;
}

.makerbuttons{
	vertical-align: middle;
	padding-top: 30px;
}


.videoframe{
	padding-top: 10px;
	padding-bottom: 10px;
	border-color: #3a3a3a;
	border-style: double solid;
	border-width: 5px;
}
.row.makerproducts{
	height: 500px;
}


.videorow{
	//margin-top: 500px;
}
.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0px; 
	overflow: hidden;
	text-align:center !important;
}


.responsive-video iframe, .responsive-video object,.responsive-video embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.makerproducttitle, .makerproductprice{
	font-family: 'Knockout-Bantam';
	text-transform: uppercase;
	color: #3a3a3a;
	letter-spacing: .1em;
}

.makerproduct{
	border-color: blue;
	//border-style: dotted;
	margin-top: -80px;
	margin-bottom: -80px;
}

.row.makerproducts{
	margin-bottom: -60px;
}

.articleheader{
	font-family: 'Knockout-Bantam';
	color: #3a3a3a;
	font-size: 36px;
	padding-bottom: 20px;
}

.articletext{
	font-family:'Times New Roman';
	font-size: 16px;
	//color: #3a3a3a;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 5%;
	padding-bottom: 5%;
	margin-right: 0;
	margin-left: 0;
	text-align: justify;
}

.articleimage{
	padding-left: 0;
	padding-right: 0;
}

.blockquote{
	font-family: 'Bevan';
	font-size: 100px;
	color: #3a3a3a;
}

.bigquotes{
	font-size: 96px;
	color: #a37819;
}

.row.fin{
	padding-bottom: 0;
	padding-top: 0;
	margin-top: 0;
	margin-bottom:0;
}
.row.fin .col-xs-12.line{
	padding-bottom: 0;
	padding-top: 0;
}

@media (max-width: 768px){
	.makertitleheadline{ font-size: 30px;}
	.makertitlebrand{font-size: 60px;}
	.makertitlemaker{font-size: 30px;}
	.col-xs-12.btnleft,.col-xs-12.btnright,.btncenter{
		text-align: center !important;
		padding-top: 10px;
		padding-bottom: 10px;
	}

}

@media (max-width: 365px){

}

</style>