<style type="text.css">

.navbar .navbar-default .gor_nav{
	background-color: #3a3a3a;
	border-color: blue;
	border-style: dotted;
	background-image: none;
	color: orange;
	background: blue;
}

</style>