<style type="text.css">
	
.filler{}

.producttitle, .productprice, .productmaker{
	color: #3a3a3a;
}

.productimage{
	padding-left: 0;	
	padding-right: 0;
}

.addtocart,.backtomaker{
	background-color: #a37819;
	color: #fafae1;
	font-weight: bold;
}

.col-xs-12.productspacer{
	height: 100px;
}

</style>